<app-menu></app-menu>
<div class="p-4">
    <section class="heading">
        <span class="component-title">
            <h6>[<strong><em>{{ title }}</em></strong>]
                <a routerLink='/product-create'>
                    <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
                </a>
                <span style="float: right; width: 70%; text-align: right; margin-right: 50px;">
                    <strong><em>Hello, {{ welcomeName }}!</em></strong>
                </span>
            </h6>
        </span>
    </section>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Vendor</th>
            <th>PartNumber</th>
            <th>Name</th>
            <th>Price</th>
            <th>Unit</th>
            <th>PhotoPath</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td>{{ p.id }}</td>
                <td>{{ p.vendor.name }}</td>
                <td>{{ p.partNumber }}</td>
                <td>{{ p.name }}</td>
                <td>${{ p.price }}</td>
                <td>{{ p.unit }}</td>
                <td>{{ p.photoPath }}</td>
                <td>
                    <a routerLink="/product-detail/{{ p.id }}">
                        <img src="assets/details.png" width="20" height="20" title="Product Details"
                            style="margin-right: 8px;">
                    </a>
                    <a routerLink="/product-list">
                        <img width="20" height="20" src="assets/delete.jpg" title="Delete Product"
                            (click)="delete(p.id)" style="margin-right: 8px;">
                    </a>
                    <a routerLink="/product-edit/{{ p.id }}">
                        <img width="20" height="20" src="assets/pencil-icon.png" title="Edit Product"
                            style="margin-right: 8px;">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>