<app-menu></app-menu>
<div class="p-4">
    <section class="heading">
        <span class="component-title">
            <h6>
                [<strong><em>{{ title }}</em></strong>] |
                <a routerLink="/product-list">Return to List</a>
                <span style="float: right; width: 70%; text-align: right; margin-right: 50px;">
                    <strong><em>Hello, {{ welcomeName }}!</em></strong>
                </span>
            </h6>
        </span>
    </section>
    <table>
        <tr>
            <td>Vendor:</td>
            <td> <select [(ngModel)]="newProduct.vendor" class="rounded">
                    <option *ngFor="let v of vendors" [ngValue]="v">
                        {{ v.name }}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>PartNumber:</td>
            <td>
                <input [(ngModel)]="newProduct.partNumber" type="text" />
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>
                <input [(ngModel)]="newProduct.name" type="text" />
            </td>
        </tr>
        <tr>
            <td>Price: </td>
            <td>
                <input [(ngModel)]="newProduct.price" type="number" />
            </td>
        </tr>
        <tr>
            <td>Unit:</td>
            <td>
                <input [(ngModel)]="newProduct.unit" type="text" />
            </td>
        </tr>
        <tr>
            <td>PhotoPath: </td>
            <td>
                <input [(ngModel)]="newProduct.photoPath" type="text" />
            </td>
        </tr>
    </table>
    <button (click)="addProduct()">Add Product</button>
</div>